@media screen and (max-width: 1280px) {
	.cardList {
		flex-direction: column;
	}
	.card.serviceCard {
		width: 100%;
		margin: 1rem auto 1rem auto;
	}
}
@media screen and (max-width: 768px) {
	.card.autoCard .infoSeller {
		justify-content: center;
		flex-direction: column;
	}
	.card.autoCard .infoSeller .row {
		margin-bottom: 2rem;
	}
}